---
import { JobNodeContent } from '@/components/ReactFlow/Nodes/JobNode'
import { TitleName } from '@/components/TitleName'
import Layout from '@/layouts/Layout.astro'
import { getNodeInfo } from '../../_services/reactflow.service'

if (!Astro.params.id) return new Response('Not Found', { status: 404 })

const node = await getNodeInfo(Astro.params.id)
if (!node) return new Response('Not Found', { status: 404 })
---

<Layout>
  <TitleName client:visible />
  <div class='p-12'>
    <JobNodeContent {...node.data} nodeId={node.id} />
  </div>
</Layout>
