---
import ReactFlowLoader from '@/components/ReactFlowLoader.astro'
import { TitleName } from '@/components/TitleName'
import Layout from '@/layouts/Layout.astro'

if (!Astro.params.snapshot) return new Response('Not Found', { status: 404 })
---

<Layout title={Astro.params.snapshot}>
  <main class='h-dvh'>
    <ReactFlowLoader snapshotName={Astro.params.snapshot} />
  </main>
  <div class='absolute right-0 top-0'>
    <TitleName client:only='react' />
  </div>
</Layout>
