---
import Layout from '@/layouts/Layout.astro'
import { Button, Code, Link } from '@nextui-org/react'
import { astroI18n, l, t } from 'astro-i18n'
import { FrownIcon } from 'lucide-react'
---

<Layout title={t('404.meta_title')}>
  <main class='relative grid min-h-dvh w-full place-content-center overflow-hidden'>
    <div class='flex flex-col items-center gap-4'>
      <h1 class='flex items-baseline font-mogi text-[30vw] leading-none text-secondary'>
        <span class='z-10'>4</span>
        <FrownIcon
          client:load
          className='m-[-8dvw] flex size-[0.75em] h-min translate-y-4 items-end text-foreground'
        />
        <span>4</span>
      </h1>

      <Code client:load>
        <span class='line-clamp-1 max-w-[80dvw] text-balance'>
          {t('404.title', { path: astroI18n.route })}
        </span>
      </Code>

      <Button href={l('/')} as={Link} color='secondary' showAnchorIcon variant='solid'>
        {t('404.home_action')}
      </Button>
    </div>
  </main>
</Layout>
