---
import { Footer } from '@/components/Footer'
import { Hero } from '@/components/Hero'
import ReactFlowLoader from '@/components/ReactFlowLoader.astro'
import SocialLinks from '@/components/SocialLinks'
import Layout from '@/layouts/Layout.astro'

const searchParams = Astro.url.searchParams
const initQuery = searchParams.get('q') ?? ''
---

<Layout title='Iván Ruiz'>
  <main
    class='flex min-h-dvh flex-col items-center overflow-hidden pt-32 bg-dot-black/20 dark:bg-dot-white/20 lg:pt-40'
  >
    <Hero client:only='react' initQuery={initQuery} />
    <aside class='absolute right-0 top-0 p-10'>
      <SocialLinks client:load />
    </aside>

    <div class='h-[100px]'></div>

    <Footer client:only='react'>
      <ReactFlowLoader
        snapshotName='footer'
        flowClassName='!overflow-visible'
        showBackground={false}
        flowProps={{
          preventScrolling: false,
          autoPanOnNodeDrag: false,
          minZoom: 0.5,
          maxZoom: 1,
        }}
      />
    </Footer>
  </main>
</Layout>
