---
import { Hero } from '@/components/Hero'
import { SocialLinks } from '@/components/SocialLinks'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <main class='flex h-dvh justify-center pt-32 bg-dot-black/20 dark:bg-dot-white/20 lg:pt-40'>
    <Hero client:only='react' />
    <aside class='absolute right-0 top-0 p-10'>
      <SocialLinks client:load />
    </aside>
  </main>
</Layout>
