<div
  class='fixed size-full -scale-100 bg-no-repeat opacity-10 mix-blend-screen blur-sm md:opacity-100'
>
</div>

<style>
  div {
    background: url('/imgs/effects/background.webp');
    background-size: cover;
  }
</style>
