<div
	class='mix-blend-screen blur-sm fixed size-full -scale-100 bg-no-repeat opacity-10 md:opacity-100'
>
</div>

<style>
	div {
		background: url('/imgs/effects/background.webp');
		background-size: cover;
	}
</style>
