---
import { JobNodeContent } from '@/components/ReactFlow/Nodes/JobNode'
import { TitleName } from '@/components/TitleName'
import Layout from '@/layouts/Layout.astro'
import { GET } from '@/pages/api/reactflow/node/[id]'
import type { Node } from 'reactflow'

const nodeRes = await GET(Astro)
if (!nodeRes.ok) return new Response('Not Found', { status: 404 })
const node: Node = await nodeRes.json()
---

<Layout>
  <TitleName client:load />
  <div class='p-12'>
    <JobNodeContent {...node.data} nodeId={node.id} />
  </div>
</Layout>
