---
import { ThemeToggle } from '@/components/ThemeToggler'
import { getTheme } from '@/pages/_services/theme.service'
import '@fontsource-variable/jost'
import { t } from 'astro-i18n'
import { ViewTransitions } from 'astro:transitions'

type Props = {
  title?: string
  description?: string
}

const { title, description } = Astro.props
const theme = getTheme(Astro.cookies)
---

<html lang='en' data-theme={theme}>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title ?? t('meta_title')}</title>
    <meta name='description' content={description ?? t('meta_description')} />
    <ViewTransitions />
  </head>
  <body
    class='min-h-dvh w-full overflow-x-hidden bg-foreground-50 text-foreground transition-colors'
  >
    <slot />

    {JSON.stringify(Astro.cookies.get('theme'))}

    <span class='absolute left-0 top-0 flex items-start gap-2 p-10'>
      <ThemeToggle client:only='react' initialTheme={theme} />
    </span>

    <style is:global>
      @font-face {
        font-family: 'Phosphene';
        font-style: normal;
        font-weight: normal;
        src: url('/fonts/PhospheneFont-Regular.ttf') format('truetype');
      }

      @font-face {
        font-family: 'Mogi';
        font-style: normal;
        font-weight: normal;
        src: url('/fonts/LCMogi-VF.ttf') format('truetype');
      }

      html {
        font-family: 'Jost Variable', system-ui, sans-serif;
      }

      mark {
        @apply bg-secondary-100 text-primary-900;
      }

      ::view-transition-new(root),
      ::view-transition-old(root) {
        animation: none;
      }
    </style>
  </body>
</html>
