---
import ReactFlowLoader from '@/components/ReactFlowLoader.astro'
import { TitleName } from '@/components/TitleName'
import Layout from './Layout.astro'

type Props = {
  snapshotName: 'jobs' | 'education' | 'events'
}

const { snapshotName } = Astro.props
---

<Layout>
  <main class='h-dvh'>
    <ReactFlowLoader snapshotName={snapshotName} />
  </main>
  <div class='absolute right-0 top-0'>
    <TitleName client:only='react' />
  </div>
</Layout>
